@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
    --color-primary: #f24f00;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    color: #141414;
    background-color: #cccccc;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}